/*estilos de la pagina principal signIn*/
.signIn {
	border: 1px solid #16151494;
	border-radius: 8px;
	width: 30%;
	margin: 0 auto;
	padding: 20px 60px;
	background-image: linear-gradient(#0101015d, #010101a7),
		url("../../../assets/fondoSignIn.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	color: #d26c1294;
	position: relative;
}

.signIn .signIn-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
}
/*final de estilos de la pagina principal signIn*/
/*inicio estilos componente logo*/
.logo {
	position: relative;
	z-index: 90;
}
.logo img {
	margin: auto;
	z-index: 90;
	position: relative;
	color: azure;
}
.logo h2 {
	position: absolute;
	top: 20%;
	text-align: center;
	right: 10;
	width: 100%;
}
.logo h3 {
	position: absolute;
	top: 40%;
	text-align: center;
	right: 10;
	width: 100%;
}
/*fin estilos componente logo*/
/*inicio estilos componente formulario de registro*/
.formSignIn form input {
	border: 1px solid #d26c1294;
	padding: 7px;
	border-radius: 7px;
	outline: none;
}
.formSignIn-contraseña {
	position: relative;
}
/*final estilos componente formulario de registro*/
/*inicio estilos componente footerSignIn*/

/*final estilos componente footerSignIn*/
