/*inicio navBar*/
.navBar {
	background-image: url('/assets//navBar.png');
}
.navBar .navBar-contenedor {
	color: #ffffff;
}
.navBar .navBar-contenedor ul {
	gap: 20px;

	padding: 0 50px;
	align-items: center;
}
.navBar .navBar-contenedor ul li {
	text-decoration: none;

	list-style: none;
	gap: 10px;
}

.navBar .navBar-contenedor .navBar-contenedor__buscar {
	padding: 0 40px;
	gap: 10px;
	align-items: center;
}

.navBar .navBar-contenedor .navBar-contenedor__carrito {
	align-items: center;
	gap: 5px;
	font-size: 20px;
}
/*final navBar*/
